<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- <pattern>%-5p: %c - %m%n</pattern> -->
      <pattern>%-5p %d{HH:mm:ss.SSS} %c |%L| - %m%n</pattern>
    </encoder>
  </appender>
  
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>